# 4-6 
## pymysql 基本操作步骤：
1. 建立连接
2. 设置游标
3. 执行sql
4. 关闭连接

In [11]:
import pymysql
# create connection
#127.0.0.1 aka localhost db is database name, it is optional you can use: use db to confirm within cursor
db = pymysql.connect(host ='localhost' , port =3306 , user ='root' , password='123456', db='excercise') #sql: show databases;

In [12]:
curser = db.cursor()

In [18]:
curser.execute('select * from dept;') #sql query
result= curser.fetchall();
print(result)

((10, 'ACCOUNTING', 'NEW YORK'), (20, 'RESEARCH', 'DALLAS'), (30, 'SALES', 'CHICAGO'), (40, 'OPERATIONS', 'BOSTON'))

In [19]:
db.close()

## pymysql 操作补充
1. 可以通过更改需要执行的SQL完成数据库的CURD操作
2. 建立连接时指定 charset cursorclass e.g 不想要返回的结果是tuple
3. 插入/删除/修改等操作，注意数据同步问题 commit/rollback
4. 批量插入executemany

In [23]:
db = pymysql.connect(host ='localhost' , port =3306 , user ='root' , password='123456', db='excercise',cursorclass=pymysql.cursors.DictCursor)
#sql: show databases;
curser = db.cursor()
curser.execute('select * from dept;') #sql query
result= curser.fetchall(); #一次性的，fetch, 类似于迭代器，拿完就没了
print(result)
db.close()

[{'deptno': 10, 'dname': 'ACCOUNTING', 'loc': 'NEW YORK'}, {'deptno': 20, 'dname': 'RESEARCH', 'loc': 'DALLAS'}, {'deptno': 30, 'dname': 'SALES', 'loc': 'CHICAGO'}, {'deptno': 40, 'dname': 'OPERATIONS', 'loc': 'BOSTON'}]

In [40]:
sql = 'INSERT INTO dept(deptno,dname,loc) VALUES(60,"tech","Chengdu");'

In [46]:
db = pymysql.connect(host ='localhost' , port =3306 , user ='root' , password='123456', db='excercise',cursorclass=pymysql.cursors.DictCursor)
#sql: show databases;
cursor = db.cursor()

In [47]:
try:
    cursor.execute(sql) #sql query
    db.commit() #if not commit it will only store in ram 
except:
    db.rollback()

In [56]:
cursor.execute('select * from dept;')
result= cursor.fetchmany(2); #一次性的，fetch, 类似于迭代器，拿完就没了
print(result)

[{'deptno': 10, 'dname': 'ACCOUNTING', 'loc': 'NEW YORK'}, {'deptno': 20, 'dname': 'RESEARCH', 'loc': 'DALLAS'}]

In [ ]:
db.close()

Batch Insert

In [51]:
sql2= 'INSERT INTO dept(deptno,dname,loc) VALUES(%s,%s,%s);'
data = [('70','tech2','Xian'),('80','tech3','guiyang')]
try:
    cursor.executemany(sql2,data) #sql query
    db.commit() #if not commit it will only store in ram 
except:
    db.rollback()

## sqlalchemy - 操作数据库

In [2]:
from sqlalchemy import create_engine

In [3]:
string='mysql+pymysql://root:123456@localhost:3306/excercise?charset=utf8' 
#pymysql can be other like mongodb #different charset
#create engine
engine = create_engine(string)
#execute sql
cur = engine.execute('select * from dept')
#fetch one line
print(cur.fetchone())
#close engine
engine.dispose()

(10, 'ACCOUNTING', 'NEW YORK')

d:\softwares\python\lib\site-packages\pymysql\cursors.py:170: Warning: (3719, "'utf8' is currently an alias for the character set UTF8MB3, but will be an alias for UTF8MB4 in a future release. Please consider using UTF8MB4 in order to be unambiguous.")
  result = self._query(query)

# 4-7 案例： 用Python 进行数据库连接与数据查询